.movie-icon {
  max-width: 77%;
}

.social-media-items{
  position: absolute;
  //bottom: 10px;
  padding-top: 5em;
  width: 50%;
  //border: 3px solid #8AC007;
}

.showtimes-btn{
  margin: 5px;
}
